.sectionTitle {
    color: #fff;
    margin: 0 10px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: 200;
}

.carousel-inner {
    border: 10px solid;
    padding: 20px 0;
    border-left: none;
    border-right: none;
    border-image: -webkit-linear-gradient(right, #ff0000, #ffab00, #f5ff00, #00ff25, #00fffd, #5500ff, #aa00ff)1;
}

img {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
}

.image--info {
    color: #fff;
    padding: 10px 10px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

@media screen and (min-width: 600px) {
    .carousel-inner {
        padding: 20px 100px;
    }
    .sectionTitle {
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .carousel-inner {
        padding: 20px 250px;
    }
}